/*Fond*/
body{
    background-color:#FFFEF1;
}

#background{
    width:1320px;
    height:1050px;
    margin:auto;
    background-color:#FFFEF1;
}

.column{
background-color:#FFFEF1;
float:left;
width:310px;
height:1050px;
margin-right:10px;
margin-left:10px;
}
/*------------Lunes------------*/
/*Lune 1*/
#overMoon1{
    background-color:#B8B7E2;
    z-index:1;
    position:absolute;
    border-radius:50%;
    height:200px;
    width:200px;
    margin-top:25px;
    margin-left:50px;
}

#moon1{
    background-color:#FFFEF1;
    position:absolute;
    border-radius:50%;
    height:230px;
    width:230px;
    margin:10px;
}
/*Lune 2*/
#moon2{
    background-color:#FFFEF1;
    z-index:1;
    border-radius:115px 0 0 115px;
    position:absolute;
    width:115px;
    height:230px;
    margin:10px;
}
/*Lune 3*/
#moon3{
    background-color:#FFFEF1;
    z-index:1;
    border-radius:0 115px 115px 0;
    position:absolute;
    width:115px;
    height:230px;
    margin:10px;
    margin-left:125px;
}
/*Lune 4*/
#overMoon4{
    background-color:#B8B7E2;
    z-index:1;
    position:absolute;
    border-radius:50%;
    height:200px;
    width:200px;
    margin-top:25px;
}

#moon4{
    background-color:#FFFEF1;
    position:absolute;
    border-radius:50%;
    height:230px;
    width:230px;
    margin:10px;
}
/*Fond des lunes*/
.moonBackground{
    background-color:#B8B7E2;
    position:absolute;
    margin-top:10px;
    margin-right:30px;
    margin-left:30px;
    width:250px;
    height:250px;
    border-radius:50%;
}
/*------------Texte------------*/
/*----Titres----*/
.purpleTitle{
    color:#B8B7E2;
}

#contact, #formations, #professionalXp, #skills {
    font-family:'Alice',serif;
    z-index:2;
    position:relative;
    color:#FFFEF1;
}
/*Contact*/
#contact{
    font-size:35px;
    float:right;
    margin-top:40%;
}
/*Formations*/
#formations{
    font-size:35px;
    float:right;
    margin-top:40%;
}
/*Expériences professionnelles*/
#professionalXp{
    font-size:34px;
    float:left;
    margin-left:7px;
    margin-top:33%;
}
/*Compétences*/
#skills{
    font-size:35px;
    float:left;
    margin-top:40%;
}
/*----Textes colonnes----*/
ul{
    list-style-type:none;
    display:inline;
    font-family:'Gotu',serif;
    color:#6C64CA;
}

a{
    text-decoration: none;
}

.bold{
    font-weight:bold;
}
/*Centrage vertical des zones de texte*/
.negativeMarg{
    margin-top:-30px;
}

.listCenter{
    margin-top:50px;
}
/*Centrage horizontal des zones de texte*/
.textCenter{
    text-align:center;
}

.textRight{
    text-align:right;
}
/*------------Blocs de couleur------------*/
#firstBlockColumn1, #firstBlockColumn2, #firstBlockColumn3, #firstBlockColumn4{
    margin-right:35px;
    margin-left:35px;
    margin-top:20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    height:150px;
    padding-top:250px;
    border-radius:10px;
}

.blockColumn1, .blockColumn2, .blockColumn3, .blockColumn4{
    height:260px;
    margin-right:35px;
    margin-left:35px;
    margin-top:15px;
    padding:10px;
    border-radius:10px;
}
/*Colonne 1*/
#firstBlockColumn1, .blockColumn1{
    background-color:#DFD4F8;
}
/*Colonne 2*/
#firstBlockColumn2, .blockColumn2{
    background-color:#D4E7F8;
}
/*Colonne 3*/
#firstBlockColumn3, .blockColumn3{
    background-color:#D4F8F1;
}
/*Colonne 4*/
#firstBlockColumn4, .blockColumn4{
    background-color:#D4F8DC;
}
/*------------Petits points de compétence-------------*/
.fullCircle, .emptyCircle{
    margin:1px;
    float:right;
    z-index:3;
    width:11px;
    height:11px;
    border-radius:50%;
    border:1px solid #B8B7E2;
}

.fullCircle{
    background-color:#FFFEF1;
}

.emptyCircle{
    background-color:#D4F8DC;
}